body {
	background-color:#232323;
	margin: 0;
	font-family: "Montserrat" , "Avenir";
}

h1{
	color: white;
	text-align: center;
	line-height: 1.1;
	padding: 20px 0;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	font-family: "Montserrat";
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	--webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover{
	color: white;
	background-color: steelblue;
}

#strip{
	background-color: white;
	height: 30px;
	text-align: center;;
}
.selected{
	color: white;
	background-color: steelblue;
}
#headcolor{
	font-size: 200%;
}
.square{
	width: 30%;
	background: purple;
	margin: 1.66%;
	float: left;
	padding-top: 30%;
	border-radius: 15%;
	transition: background-color 0.6s;
	--webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
}
#container{
	width: 600px;
	margin: 20px auto;
}

#message{
	display: inline-block;
	width: 20%;
}
