<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-center">
  <a class="btn btn-outline-success btn-rounded waves-effect col nav-item m-1" href="/" role="button">States</a>
  <a class="btn btn-outline-warning btn-rounded waves-effect col nav-item m-1" href="district" role="button">District</a>
  <a class="btn btn-outline-info btn-rounded waves-effect col nav-item m-1" href="world" role="button">Countries</a>
  <a class="btn btn-outline-light btn-rounded waves-effect col nav-item m-1" href="essential" role="button">Essential</a>
</nav>