body{
    margin: 0;
    min-width: 300px;
}
*{
    box-sizing: border-box;
}
.header{
    background-color: rgb(184, 233, 233);
    padding: 30px 42px;
    color: black;
    text-align: center;
}
.header:after{
    content: "";
    display: table;
    clear: both;
}
#the-input{
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 15px;
    margin: 0;
    border: none;
    border-radius: 0;
}
.create-botton{
    padding: 10px;
    background-color: rgb(152, 152, 236);
    width: 30%;
    color: black;
    font-weight: bold;
    font-size: 15px;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    transition: 0.4s;
}
.create-botton:hover{
    background-color: cadetblue;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    position: relative;
    background-color: rgb(238, 238, 185);
    list-style-type: none;
    cursor: pointer;padding: 10px 6px 10px 30px;
    transition: 0.3s;
}
ul li:nth-child(odd){
    background-color: rgb(205, 215, 235);
}
ul li:hover{
    background-color: rgb(235, 230, 230);
}
ul li.checked{
    background: rgb(252, 244, 244);
    color: black;
    text-decoration: line-through;
}
ul li.checked:before{
    content: ' ';
    position: absolute;
    border-color: rgb(18, 109, 33);
    border-style: solid;
    border-width: 0 2px 2px;
    top: 10px;
    left: 50px;
    transform: rotate(45deg);
    height: 15px;
}
ul li:hover{
    background-color: burlywood;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
}
.close:hover{
    background-color: cyan;
}
