<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OCR Reader</title>
</head>
<body>
    <h1>OCR Reader</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar" aria-label="avatar"/>
    <button type="submit">Generate</button>
    </form>
</body>
</html>